<div class="banner">
  <div class="container banner-text">
    <h1>Cocktail Time</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <!-- <a class="btn btn-outline-success" href="cocktails#all-cards">Explore Our Menu</a> -->
    <form action="cocktails#index" method="get" class="form-group w-50 mt-4">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Mojito" name="search">
        <div class="input-group-append">
          <input type="submit" value="search" class="btn btn-success zero-z-index">
        </div>
      </div>
    </form>
  </div>
</div>

<div class="container mt-4" id="all-cards">
  <h2 class="text-center m-4">~ What's on the menu? ~</h2>
  <div class="row d-flex justify-content-around">
    <% @cocktails.each do |cocktail|%>
      <div class="card m-4" style="width: 20rem;">
        <%= link_to cocktail_path(cocktail) do %>
        <img style="height: 190px;" class="card-img-top" src="<%= cocktail.url %>" alt="drinks image">
        <% end %>
        <div class="card-body d-flex justify-content-between">
          <h5 class="card-title"><%= cocktail.name %></h5>
          <div>
            <%= link_to cocktail_path(cocktail) do %>
              <i class="fas fa-info-circle"></i>
            <% end %>
            <%= link_to edit_cocktail_path(cocktail) do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to cocktail_path(cocktail), method: :delete, data: { confirm: 'Are you sure?'} do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="section-yellow">
  <div class="container mt-4">
    <div class="row">
      <div class="card-long">
        <%= cl_image_tag("wsihrsrshbu3kreaqxoh") %>
        <div class="card-long-info">
          <h2>Don't feel like picking tonight?</h2>
          <%= link_to "Bartender's Choice", cocktail_path(@random_cocktail), class: 'btn btn-info' %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Section -->
<div class="bg-modal">
  <div class="modal-content">
    <div class="closed">+</div>
    <h3>Add Cocktail</h3>
    <!-- <img width="80px" src="https://cdn2.iconfinder.com/data/icons/flat-artistic-vacation-1/32/cocktail-add-512.png" alt="add cocktail"> -->
    <%= simple_form_for(Cocktail.new) do |f|%>
      <%= f.input :name, placeholder: 'Enter Cocktail Name', label: false %>
      <%= f.input :url, placeholder: 'Enter Image URL', label: false %>
      <%= f.submit class: 'btn btn-outline-success'%>
    <% end %>


  </div>
</div>
