<div>
  <img class="cover" src="<%= @cocktail.url %>" alt="<%= @cocktail.name %>">
</div>


<div class="container my-4">

  <div class="d-flex justify-content-between ">
    <h1><%= @cocktail.name %></h1>
    <div>
      <!-- <a href="#" id="btn-modal" class="btn btn-success m-2"><i class="fas fa-plus"></i> Review</a> -->
      <%= link_to new_cocktail_review_path(@cocktail), class: 'btn btn-success m-2' do %>
        <i class="fas fa-plus"></i> Review
      <% end %>
      <%= link_to edit_cocktail_path(@cocktail), class: 'btn btn-success m-2' do %>
        <i class="fas fa-edit"></i>
      <% end %>
      <%= link_to cocktail_path(@cocktail), method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-success' do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    </div>
  </div>

  <br>

  <div class="row">

    <div class="col-12 col-lg-8 my-2" id="box-left">
      <h3>Ingredients</h3>
      <div class="mt-4">
        <% if @cocktail.doses.empty? %>
          <p>No ingredients yet</p>
        <% else %>
          <% @cocktail.doses.each do |dose| %>
            <div class="d-flex justify-content-between align-items-center mt-2 py-2 border-bottom">
              <p><%= dose.ingredient.name %>: <span><%=  dose.description %></span></p>
              <div>
                <%= link_to edit_dose_path(dose), class: 'btn btn-success m-1'  do %>
                  <i class="fas fa-edit"></i>
                <% end %>
                <%= link_to dose_path(dose), method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-success m-1'  do %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-12 col-lg-4 my-2" id="box-right">
      <div class="card p-4">
        <h4>Add ingredient</h4>
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.input :description %>
          <%= f.association :ingredient %>
          <%= f.submit class: 'btn btn-outline-success' %>
        <% end %>
      </div>
    </div>

  </div>

</div>

<div class="section-yellow">
  <div class="container">

    <h3>Reviews</h3>
    <% if @cocktail.reviews.empty? %>
      <p>No reviews yet</p>
    <% else %>



      <div class="row d-flex justify-content-around my-4">



        <% @cocktail.reviews.each do |review| %>
          <div class="card m-4" style="width: 20rem;">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">


                <div class="carousel-item active">
                  <% if review.photos.empty? %>
                    <img src="https://cdn1.iconfinder.com/data/icons/summer-96/64/cocktail-glass-drink-beverage-party-thirst-summer-512.png" class="d-block w-100" alt="...">
                  <% else %>
                    <%= cl_image_tag review.photos.first.key, height: 300, width: 400, crop: :fill %>
                  <% end %>
                </div>

                <% i = 1 %>
                <% while i < review.photos.length %>
                  <div class="carousel-item">
                    <%= cl_image_tag review.photos[i].key, height: 300, width: 400, crop: :fill %>
                  </div>
                  <% i += 1 %>
                <% end %>

              </div>
            </div>

            <div class="card-body">
              <h5 class="card-title"><%= review.rating %> <i class="fas fa-star"></i></h5>
              <p class="card-text">"<%= review.content %>" - <%= review.username %></p>
            </div>
          </div>
        <% end %>

      </div>
    <% end %>

  </div>
</div>


<!-- Modal Section -->
<div class="bg-modal">
  <div class="modal-content">
    <div class="closed">+</div>
    <h3>New review for <%= @cocktail.name %></h3>
    <%= simple_form_for [@cocktail, Review.new] do |f|%>
      <%= f.input :username, label: false, placeholder: 'Your name' %>
      <%= f.input :content, label: false, placeholder: 'Your thoughts?'%>
      <%= f.input :rating, label: false, placeholder: 'Rating 1: Never again to 5: Excellent!' %>
      <%= f.input :photos, as: :file, label: false, input_html: { multiple: true } %>
      <%= f.submit class: 'btn btn-outline-success'%>
    <% end %>
  </div>
</div>

